[hidden] {
    display: none !important;
}

body {
    padding: 30px;
    box-sizing: border-box;
    background: #F0F3F8;
}

.gallery {
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.progress {
    height: 40px;
    background: #88959d;
    display: flex;
    border-radius: 2px;
    position: relative;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.progress-bar {
    background: #314EE5;
    border-radius: 2px;
    box-shadow: 0 0 5px hsl(230, 78%, 55%, 0.3);
}
.progress-bar-text {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    text-align: center;
    top: 50%;
    color: #fff;
    transform: translate(0, -50%);
    font-family: sans-serif;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.progress-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0;
    box-shadow:
    0px 0.7px 2.2px rgba(0, 0, 0, 0.07),
    0px 1.7px 5.3px rgba(0, 0, 0, 0.05),
    0px 3.3px 10px rgba(0, 0, 0, 0.042),
    0px 5.8px 17.9px rgba(0, 0, 0, 0.035),
    0px 10.9px 33.4px rgba(0, 0, 0, 0.028),
    0px 26px 80px rgba(0, 0, 0, 0.02);
    background: #fff;
    padding: 30px;
    border-radius: 5px;
}
.progress-details .progress {
    height: 15px;
    font-size: 7px;
    font-weight: 400;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}